@model IEnumerable<CommunityCar.Domain.DTOs.Community.AnswerCommentDto>

<div class="comments-list">
    @if (Model.Any())
    {
        <h6 class="mb-3">
            <i class="fas fa-comments me-2"></i>
            @Model.Count() @(Model.Count() == 1 ? "Comment" : "Comments")
        </h6>
        
        @foreach (var comment in Model)
        {
            <partial name="_CommentItem" model="comment" />
        }
    }
    else
    {
        <div class="text-center text-muted py-3">
            <i class="fas fa-comment-slash fa-2x mb-2"></i>
            <p class="mb-0">No comments yet. Be the first to comment!</p>
        </div>
    }
</div>
