<footer class="border-top footer py-3 mt-auto">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <div class="footer-left mb-2 mb-md-0">
            &copy; @DateTime.Now.Year - Community Car
        </div>
        <div class="footer-right">
            <ul class="list-inline mb-0">
                <li class="list-inline-item ms-3">
                    <a asp-area="" asp-controller="Home" asp-action="Terms" class="text-decoration-none">Terms</a>
                </li>
                <li class="list-inline-item ms-3">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none">Privacy</a>
                </li>
                <li class="list-inline-item ms-3">
                    <a asp-area="" asp-controller="Home" asp-action="Support" class="text-decoration-none">Support</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
